<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <!-- Aqui cambiar el usuario y el password -->
        <property name="hibernate.connection.username">gerardo</property>
        <property name="hibernate.connection.password">1992</property>

        <!-- Cambiar aqui el link de ngrock -->
        <property name="hibernate.connection.url">jdbc:postgresql://0.tcp.ngrok.io:19848/proyectopoo</property>
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
        <property name="show_sql">true</property> 
        <property name="connection.pool_size">1</property>
        <property name="hibernate.hbm2ddl.auto">update</property>
        <property name="javax.persistence.validation.mode">none</property>
        
          <mapping class="uacm.modelo.Empleado"></mapping> 
            <mapping class="uacm.modelo.Especie"></mapping> 
          <mapping class="uacm.modelo.Propetario"></mapping> 
          <mapping class="uacm.modelo.Registro"></mapping> 
    </session-factory>
</hibernate-configuration>
